.toolkit-items {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.toolkit-item {
  flex-basis: 25%;
  padding: 0 12px;
  margin-bottom: 40px;
}

.toolkit-item a,
.toolkit-item p {
  font-size: 14px;
}

.toolkit-item img {
  width: 100%;
  margin-bottom: 20px;
}

p.toolkit-item-title {
  font-size: 15px;
}

.stationary-subnav .stationary-menu-item,
.digital-templates-subnav .digital-templates-menu-item,
.print-templates-subnav .print-templates-menu-item {
  color: #00558c;
}

.toolkit .hero {
  flex-direction: column;
  height: 300px;
  display: flex;
  justify-content: center;
  background-image: url("img/stationary-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #d9d9d9;
  padding-left: 60px;
}

.toolkit .hero.digital-hero {
  background-image: url("img/icon-hero_Digital\ Templates@2x.png");
}

.toolkit .hero.print-hero {
  background-image: url("img/print-hero-01.png");
}

.toolkit .hero h2 {
  color: #03173e;
  font-size: 30px;
  max-width: 275px;
}

.toolkit .hero p {
  max-width: 275px;
}
