.toolkit-items {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.toolkit-item {
    display: flex;
    padding-bottom: 50px;
}

.toolkit-item a {
    font-size: 15px;
}

.toolkit-item img {
    height: 135px;
    margin-right: 25px;
    width: auto;
}

.toolkit-item p {
    font-size: 14px;
}

.toolkit-item-title {
    font-size: 15px;
}