.color-palette.featured-img {
    margin-bottom: 50px;
    margin-top: 20px;
}

.designs-block {
    display: flex;
}

.designs-block-text {
    padding-right: 50px;
}

.designs-block-img {
    text-align: center;
}

.designs-block-img img {
    padding-bottom: 10px;
}

.designs-block-title {
    font-size: 22px;
}

.designs .download-fonts,
.sidebar-category .active {
    color: #E05929;
}