.home-hero {
    display: flex;
    overflow: hidden;
}

.hero-item {
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 500px;
    overflow: hidden;
    position: relative;
    width: 28%;
}

.hero-item img {
    width: 44vw;
    object-fit: cover;
}

.hero-item img, 
.hero-item .color-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
}

.hero-item.active {
    cursor: default;
    width: 44%;
    transition: background .5s,color .5s,transform .5s cubic-bezier(.68, 0, .265, 1) .35s,width .5s;
    z-index: 4;
}

.hero-item:nth-of-type(1) {
    transition: background .5s,color .5s,transform .5s cubic-bezier(.68, 0, .265, 1) .45s,width .5s;
}

.hero-item:nth-of-type(2) {
    box-shadow: 0px 0px 20px 15px rgba(0,0,0,0.3);
    transition: background .5s,color .5s,transform .5s cubic-bezier(.68, 0, .265, 1) .35s,width .5s;
    z-index: 3;
}

.hero-item:nth-of-type(3) {
    transition: background .5s,color .5s,transform .5s cubic-bezier(.68, 0, .265, 1) .55s,width .5s;
}

.hero-item:nth-of-type(1).active {
    box-shadow: 15px 0px 20px 0px rgba(0,0,0,0.3);
}

.hero-item:nth-of-type(3).active {
    box-shadow: -15px 0px 20px 0px rgba(0,0,0,0.3);
}

.hero-item:nth-of-type(1) .color-overlay,
.hero-item:nth-of-type(2) .color-overlay {
    background-color: rgba(224, 88, 42, .67);
}

.hero-item:nth-of-type(3) .color-overlay {
    background-color: rgba(3, 23, 62, .67);
}

.hero-item.active .color-overlay {
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.hero-item a {
    color: #fff;
    font-size: 12px;
    transition: all .3s ease-in-out;
}

.hero-item.active a {
    color: #54575A;
}

.hero-item.active h1,
.hero-item a:hover {
    color: #03173e;
}

.hero-item h1 {
    font-size: 36px;
    margin: 0 0 20px;
}

.hero-item p {
    font-size: 20px;
    margin: 0;
}

.hero-item p:nth-of-type(2) {
    margin-bottom: 20px;
}

.hero-item .color-overlay {
    width: 100%;
    z-index: 1;
}

.hero-item-content {
    bottom: 0;
    margin-left: 25px;
    position: absolute;
    transition: all .25s ease-in-out;
    width: 240px;
    z-index: 2;
    margin-bottom: 80px;
}

.hero-item.active .hero-item-content {
    margin-left: 70px;
}

.page-content h2 {
    color: #E05929;
    font-size: 32px;
    max-width: 530px;
}

.page-content p {
    max-width: 540px;
}

.page-info {
    flex-basis: 70%;
}

.sidebar {
    display: flex;
    flex-basis: 30%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
}

.sidebar-item {
    display: flex;
    margin-bottom: 60px;
}

.sidebar-item img {
    height: 60px;
    margin-right: 20px;
    width: auto;
}

.sidebar-content p {
    color: #E0582A;
    font-size: 24px;
    margin: 0;
}

@media (min-width: 992px) {
    .hero-item h1 {
        font-size: 38px;
    }

    .hero-item p {
        font-size: 22px;
    }

    .hero-item-content {
        width: 255px;
    }

    .hero-item.active .hero-item-content {
        margin-left: 80px;
    }

    .page-content h2 {
        font-size: 34px;
    }

    .sidebar {
        padding-left: 100px;
    }
}

@media (min-width: 1200px) {
    .hero-item h1 {
        font-size: 42px;
    }

    .hero-item p {
        font-size: 25px;
    }

    .hero-item-content {
        width: 270px;
    }

    .hero-item:nth-of-type(2) .hero-item-content {
        width: 255px;
    }

    .page-content h2 {
        font-size: 36px;
        max-width: 540px;
    }

    .page-content p {
        max-width: 700px;
    }

    .sidebar {
        padding-left: 130px;
    }
}