.page-content .home-headline {
  color: #e05929;
  font-size: 32px;
  margin-top: 0;
  max-width: 530px;
}

.page-content {
  flex-direction: column;
}

.page-content p {
  max-width: 545px;
}

.home-feature-items {
  display: flex;
  margin-top: 40px;
}

.home-feature-item {
  background-color: #f2f2f2;
  margin: 8px;
  text-align: center;
  padding: 15px;
}

.home-feature-item p {
  color: #54575a;
  font-family: "MarkHeavy", sans-serif;
  font-size: 18px;
  margin: 5px 0;
}

.home-feature-item a {
  color: #75767a;
  font-size: 14px;
}

.home-feature-item img {
  max-width: 100%;
  width: 82px;
}

.home-hero {
  flex-direction: column;
  height: 363px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.home-hero h2 {
  color: #03173e;
  font-size: 30px;
  max-width: 350px;
}

.home-hero p {
  max-width: 350px;
}

.page-info {
  font-size: 14px;
}

@media (min-width: 768px) {
  .hero-item.active {
    width: 44%;
  }

  .hero-item {
    height: 500px;
    width: 28%;
  }

  .hero-item img {
    width: 44vw;
  }
}

@media (min-width: 992px) {
  .page-content .home-headline {
    font-size: 34px;
  }

  .home-feature-item {
    flex-basis: 20%;
  }
}

@media (min-width: 1200px) {
  .hero-item .home-hero-headline {
    font-size: 42px;
  }

  .hero-item p {
    font-size: 25px;
  }

  .hero-item-content {
    width: 270px;
  }

  .hero-item:nth-of-type(2) .hero-item-content {
    width: 255px;
  }

  .page-content .home-headline {
    font-size: 36px;
    max-width: 540px;
  }

  .page-content p {
    max-width: 700px;
  }
}
