@font-face {
  font-family: "MarkHeavy";
  src: url("fonts/mark-heavy.woff");
}

@font-face {
  font-family: "MarkBook";
  src: url("fonts/mark-book.woff");
}

@font-face {
  font-family: "MarkBold";
  src: url("fonts/mark-bold.woff");
}

@font-face {
  font-family: "GeorgiaProBold";
  src: url("fonts/GeorgiaPro-Bold.otf");
}

/* Global */

a,
#nav li:first-child,
#nav li:first-child a,
.sidebar-left button,
.sidebar-left a:hover,
.toolkit-item .toolkit-item-content a,
.logos .logo-download,
.sidebar-left .sidebar-category a,
.page-content .link-denim,
.page-content .photo-category a,
.sidebar-left .sidebar-category .active,
#nav .dropdown .dropdown-category a,
.card-header p,
.mark-bold,
.mark-bold > * {
  font-family: "MarkBold", sans-serif;
}

.bs-override h1,
h1,
h2,
.footer,
.page-content .sidebar-content p,
.toolkit-item-content .toolkit-item-title,
.designs .designs-block-title,
.page-content .sidebar-page-title,
.photos-content p.strong,
.mark-heavy,
.page-content .mark-heavy {
  font-family: "MarkHeavy", sans-serif;
}

*,
.page-content a,
#nav .dropdown a,
.sidebar-left .sidebar-category li a {
  font-family: "MarkBook", sans-serif;
}

.georgia-bold {
  font-family: "GeorgiaProBold", sans-serif;
}

h2 {
  margin: 0;
}

ul {
  list-style: none;
}

.accordion.fixed {
  max-width: 250px;
  padding-top: 20px;
  position: fixed;
  top: 0;
}

.br-btn {
  color: #75767a;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin: 0;
  cursor: default;
}

.bs-override .container {
  max-width: 1028px;
  margin: 0 auto;
}

.date-stamp {
  font-size: 12px;
  font-style: italic;
}

.featured-img {
  width: 100%;
}

.footer {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  height: 115px;
  padding: 0 60px;
}

.footer p,
.page-content p,
.page-content .sidebar-category a,
.sidebar-left ul a,
.sidebar-left button,
.designs-block-title {
  color: #58595b;
}

.page-content .link-denim,
.page-content .sidebar-category .active-primary,
.page-content a,
#nav a.active,
.sidebar-left button.active {
  color: #00558c;
}

.header h1,
.sidebar-left .sidebar-page-title,
.footer a {
  color: #e05929;
}

.page-right h1,
#nav a:hover,
#nav .dropdown a:hover,
.page-content a:hover,
.sidebar-category a:hover,
.sidebar-left button:hover {
  color: #03173e;
}

#nav a,
#nav .dropdown,
.page-content a {
  transition: all 0.3s ease-in-out;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-vertical-20 {
  margin: 20px 0;
}

.margin-vertical-30 {
  margin: 30px 0;
}

.margin-vertical-40 {
  margin: 40px 0;
}

.footer-content {
  flex-basis: 50%;
}

.footer-logo {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
}

.footer-logo img {
  height: 60px;
  width: auto;
}

.header h1 {
  font-size: 42px;
  margin: 25px 0;
}

.link-margin-bottom {
  display: inline-block;
  margin-bottom: 20px;
}

#nav {
  border-top: 1px solid #75767a;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
}

.subnav {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #f2f2f2;
}

#nav a {
  color: #75767a;
  font-size: 14px;
  text-decoration: none;
  padding: 20px 0;
  display: inline-block;
}

.subnav a {
  color: #75767a;
  font-size: 12px;
}

.subnav .nav-primary {
  padding-right: 25px;
}

.nav-item {
  position: relative;
}

#nav .nav-item:hover .dropdown {
  display: flex;
}

.nav-item p {
  display: inline-block;
}

#nav .dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  padding: 10px 0 0 30px;
  transform: translateX(-15%);
}

#nav .toolkit-dropdown.dropdown,
#nav .br-dropdown.dropdown {
  transform: translateX(-42%);
}

#nav .br-dropdown.dropdown {
  transform: translateX(-38%);
}

#nav .br-dropdown ul {
  min-width: 200px;
}

#nav .dropdown a,
#nav .dropdown li {
  font-size: 12px;
  color: #898b8e;
}

#nav .dropdown a.active {
  color: #00558c;
  font-weight: 800;
  text-decoration: underline;
}

#nav ul {
  display: flex;
  flex-direction: column;
  min-width: 165px;
  padding: 0;
}

#nav li {
  padding-bottom: 15px;
}

.design-system-nav .design-system-nav-item,
.templates-nav .templates-nav-item {
  color: #00558c !important;
  border-bottom: 6px solid #e05929;
}

.page-content {
  padding: 60px 0;
}

.page-right h1 {
  font-size: 34px;
  margin-bottom: 20px;
}

.page-right .featured-img {
  margin-bottom: 30px;
}

.sidebar-category {
  border: 0;
  padding: 6px 0;
}

.page-content .sidebar-category a {
  font-size: 12px;
}

.sidebar-left {
  font-size: 14px;
}

.sidebar-left a:hover {
  text-decoration: none;
}

.sidebar-left button {
  font-size: 14px;
  padding: 0;
  text-align: left;
}

.sidebar-left button:focus,
.sidebar-left button:hover {
  text-decoration: none;
}

.sidebar-left button:before {
  content: "+";
}

.sidebar-left button.open:before {
  content: "-";
}

.sidebar-left li {
  padding: 5px 0;
}

.sidebar-left ul {
  margin: 15px 0;
}

@media (min-width: 768px) {
  #nav .nav-item {
    padding-right: 45px;
  }

  .page-content {
    display: flex;
  }

  .page-right {
    width: 75%;
  }

  .sidebar-left {
    width: 25%;
  }
}
