@font-face {
    font-family: 'MarkHeavy';
    src: url('../fonts/mark-heavy.woff');
}

@font-face {
    font-family: 'MarkBook';
    src: url('../fonts/mark-book.woff');
}

@font-face {
    font-family: 'MarkBold';
    src: url('../fonts/mark-bold.woff');
}

/* Global */

a,
.nav li:first-child a,
.sidebar-left button,
.sidebar-left a:hover,
.toolkit-item .toolkit-item-content a,
.designs .download-fonts,
.logos .logo-download {
    font-family: 'MarkBold', sans-serif;
}

.bs-override h1,
h1,
h2,
.footer,
.page-content .sidebar-content p,
.toolkit-item-content .toolkit-item-title,
.designs .designs-block-title,
.page-content .sidebar-page-title {
    font-family: 'MarkHeavy', sans-serif;
}

.hero-item p,
.page-content p,
.page-content a,
.nav .dropdown a {
    font-family: 'MarkBook', sans-serif;
}

h2 {
    margin: 0;
}

ul {
    list-style: none;
}

.accordion.fixed {
    padding-top: 20px;
    position: fixed;
    top: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.featured-img {
    width: 100%;
}

.footer {
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    height: 115px;
    padding: 0 60px;
}

.footer p {
    color: #54575A;
}

.footer a {
    color: #E05929;
}

.footer-content {
    flex-basis: 50%;
}

.footer-logo {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
}

.footer-logo img {
    height: 60px;
    width: auto;
}

.header h1 {
    color: #E05929;
    font-size: 42px;
    margin: 25px 0;
}

.nav {
    border-top: 2px solid #75767A;
    display: flex;
    padding: 20px 0;
}

.nav a {
    color: #75767A;
    font-size: 14px;
    padding-right: 50px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.nav a.active,
.nav a:hover {
    color: #E05929;
}

.nav-item {
    position: relative;
}

.nav-item:hover .dropdown {
    display: flex;
}

.nav .dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 10px 20px;
    transition: all .3s ease-in-out;
    transform: translateX(-30%);
    left: 50%;
}

.nav .dropdown a {
    font-size: 12px;
    color: #898B8E;
}

.nav ul {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    padding: 0;
}

.nav li {
    padding-bottom: 15px;
}

.page-content {
    display: flex;
    padding: 60px 0;
}

.page-content p {
    color: #54575A;
}

.page-content a {
    color: #54575A;
    transition: all .3s ease-in-out;
}

.page-content a:hover {
    color: #E0582A;
}

.page-right {
    width: 75%;
}

.page-right h1 {
    color: #54575A;
    font-size: 34px;
    margin-bottom: 20px;
}

.page-right .featured-img {
    margin-bottom: 30px;
}

.sidebar-category {
    border: 0;
}

.sidebar-left {
    width: 25%;
}

.sidebar-left a:hover {
    color: #54575A;
    text-decoration: none;
}

.sidebar-left button {
    color: #54575A;
    padding-left: 0;
    text-align: left;
}

.sidebar-left button.active,
.sidebar-left button:hover {
    color: #E05929;
}

.sidebar-left button:focus,
.sidebar-left button:hover {
    text-decoration: none;
}

.sidebar-left button:before{
    content: '+';
  }
  
.sidebar-left button.open:before{
    content: '-';
}

.sidebar-left li {
    padding: 5px 0;
}

.sidebar-left ul {
    margin: 15px 0;
}

.sidebar-left .sidebar-page-title {
    color: #E05929;
}