@font-face {
    font-family: 'MarkHeavy';
    src: url('../fonts/mark-heavy.woff');
}

@font-face {
    font-family: 'MarkBook';
    src: url('../fonts/mark-book.woff');
}

@font-face {
    font-family: 'MarkBold';
    src: url('../fonts/mark-bold.woff');
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.home-hero {
    display: flex;
    overflow: hidden;
}

.hero-item {
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 500px;
    position: relative;
    width: 25%;
}

.hero-item img {
    height: 100%;
    width: 50vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
}

.hero-item.active {
    cursor: default;
    width: 50%;
    transition: background .5s,box-shadow .5s .5s,color .5s,transform .5s cubic-bezier(.68, 0, .265, 1) .35s,width .5s;
}

.hero-item:nth-of-type(1) {
    background-color: #E0582A;
    transition: background .5s,box-shadow .5s .5s,color .5s,transform .5s cubic-bezier(.68, 0, .265, 1) .45s,width .5s;
}

.hero-item:nth-of-type(2) {
    background-color: #75767A;
    transition: background .5s,box-shadow .5s .5s,color .5s,transform .5s cubic-bezier(.68, 0, .265, 1) .35s,width .5s;
}

.hero-item:nth-of-type(3) {
    background-color: #54575A;
    transition: background .5s,box-shadow .5s .5s,color .5s,transform .5s cubic-bezier(.68, 0, .265, 1) .55s,width .5s;
}

.hero-item a {
    color: #fff;
}

.hero-item h1 {
    font-family: 'MarkHeavy', sans-serif;
}

.hero-item p {
    font-family: 'MarkBook', sans-serif;
}

.hero-item-content {
    padding-left: 50px;
    position: absolute;
    width: 375px;
}

@media (min-width: 992px) {
    .hero-item-content {
        width: 400px;
    }
}

@media (min-width: 1200px) {
    .hero-item-content {
        width: 450px;
    }
}