.logos .logo-download,
.logos-subnav .logo-menu-item {
  color: #00558c;
}

img.logo-use-example,
.logo-use-item.col-two img {
  max-width: 100%;
}

.logos .logo-download {
  display: inline-block;
  font-size: 14px;
}

.logos .page-right .our-logo {
  max-width: 225px;
  padding: 20px 0;
  margin-bottom: 10px;
}

img.logo-use-example {
  width: 560px;
}

.logo-use-caption {
  font-size: 14px;
  margin-top: 10px;
}

.logo-use-item.col-two img {
  width: 276px;
  height: 155px;
}

.logo-use-examples img {
  max-width: 250px;
}

@media (min-width: 768px) {
  .logo-use-item.col-two .logo-use-text {
    flex-basis: 60%;
    padding-right: 40px;
  }

  .logo-use-examples {
    display: flex;
  }

  .logo-use-example-r {
    margin-left: 40px;
  }
}
