.messaging-resources {
    padding-left: 0;
}

.proof-points {
    color: #707070;
    padding-left: 0;
}

.proof-points li {
    padding: 5px 0;
}

.section-title {
    color: #58595B;
    font-size: 22px;
    margin-bottom: 20px;
}

.talking-brand {
    color: #58595B;
    list-style: initial;
    padding-left: 20px;
}

.talking-brand li {
    padding: 10px 0;
}