table {
  color: #58595b;
}

.columns-2 {
  display: flex;
}

.communication-table th {
  padding: 10px 15px;
}

.communication-table tr {
  vertical-align: top;
}

.communication-table td {
  font-size: 14px;
  padding: 10px 15px;
}

.lexicon-col-l {
  flex-basis: 65%;
}

.lexicon-col-r {
  flex-basis: 35%;
  padding-left: 50px;
}

.lexicon-col-r img {
  height: 105px;
  width: 105px;
}

.lexicon-col-r .mark-heavy {
  color: #e05929;
}

.lexicon-block-title {
  color: #58595b;
  font-size: 22px;
  margin-bottom: 15px;
  padding-top: 30px;
}

.lexicon-healthcare-sidebar {
  border-bottom: 4px solid #898b8e;
  border-top: 4px solid #898b8e;
  padding: 20px 0;
}

.lexicon-healthcare-sidebar p {
  margin-bottom: 0;
}

.messaging-resources {
  padding-left: 0;
}

.mission-guidelines {
  margin: 20px 0;
}

.mission-guideline {
  align-items: center;
  display: flex;
  padding: 10px 0;
}

.mission-guideline img {
  height: 40px;
  margin-right: 20px;
  width: 40px;
}

.mission-guideline p {
  margin-bottom: 0;
}

.proof-points {
  color: #707070;
  padding-left: 0;
}

.proof-points li {
  padding: 5px 0;
}

.section-title {
  color: #58595b;
  font-size: 22px;
  margin-bottom: 20px;
}

.talking-brand {
  color: #58595b;
  list-style: initial;
  padding-left: 20px;
}

.talking-brand li {
  font-family: "MarkBook", sans-serif !important;
  padding: 10px 0;
}

.talking-to-payers {
  color: #58595b;
  font-size: 16px;
  list-style: disc;
  padding-left: 20px;
}

.talking-to-payers li {
  padding: 15px 0;
}

.word-examples {
  color: #58595b;
  font-size: 14px;
  padding-bottom: 60px;
}

.word-examples table {
  margin-bottom: 20px;
  width: 100%;
}

.word-examples th {
  font-size: 16px;
  padding-bottom: 15px;
  width: 50%;
}

.word-examples td {
  padding: 10px 30px 10px 0;
}

.communication-table tr,
.word-examples tr {
  border-bottom: 1px solid #58595b;
}

.word-suggestions {
  margin-bottom: 30px;
}

.word-suggestions th {
  width: 25%;
}

.word-suggestions tr {
  vertical-align: top;
}

.word-suggestions th {
  padding: 10px 0;
}

.word-suggestions td {
  font-size: 14px;
  padding: 6px 0;
}

.word-suggestions td.mark-heavy {
  font-size: 16px;
}

.word-suggestions .row-end {
  border-bottom: 0.5px solid #58595b;
}

.word-suggestions .row-1 td {
  padding-top: 10px;
}
