.brand-training-subnav .brand-training-menu-item {
  color: #00558c;
}

.brand-training-text {
  flex-basis: 35%;
}

.brand-training-img {
  flex-basis: 65%;
  padding-left: 40px;
}

.brand-essentials.icons .hero {
  background-color: #f2f2f2;
}

.brand-essentials .home-feature-item-img {
  width: 55px;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  border-radius: 60px;
}

@media (min-width: 768px) {
  .brand-essentials.icons .hero {
    background-image: url("img/icon-hero_Brand\ Essentials@2x.png");
  }
}
