.brand-training-subnav .brand-training-menu-item {
  color: #00558c;
}

.brand-training-content {
  display: flex;
}

.brand-training-text {
  flex-basis: 35%;
}

.brand-training-img {
  flex-basis: 65%;
  padding-left: 40px;
}

.brand-training-img img {
  width: 100%;
}

.brand-essentials.icons .hero {
  background-image: url("img/icon-hero_Brand\ Essentials@2x.png");
}

.brand-essentials .home-feature-item {
  flex-basis: 33.3333%;
}
