@font-face {
    font-family: "MarkBook";
    src: url("../../style/fonts/mark-book.woff");
  }
  
  @font-face {
    font-family: "MarkBold";
    src: url("../../style/fonts/mark-bold.woff");
  }

* {
    font-family: "MarkBook", sans-serif;
}

a {
    transition: all .3s ease-in-out;
}

h2,
h3,
.btn,
.bold,
.footer a {
    font-family: "MarkBold", sans-serif;
}

.bold {
    font-size: 22px;
    margin-bottom: 0px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.item h3 {
    color: #0B183D;
}

.item a {
    color: #595A5C;
    text-decoration: none;
}

.item a:hover {
    color: #0B183D;
    font-family: 'MarkBold', sans-serif;
}

.item li {
    list-style: none;
    padding-bottom: 10px;
}

.item .btn {
    border: 2px solid #1480C0;
    color: #0B183D;
    border-radius: 8px;
    padding: 10px;
    display: block;
    text-align: center;
}

.item .btn:hover {
    background-color: #1480C0;
    color: #fff;
}

.title-img {
    width: 100%;
}

.section {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.section .separator,
.all-observances .separator {
    height: 0.5px;
    background-color: #595A5C;
    width: 100%;
}

.section .separator {
    margin-left: 20px;
}

.featured {
    margin-top: 60px;
}

.featured h3 {
    margin-bottom: 10px;
}

.featured .item {
    background-color: #F3F3F3;
    margin: 10px;
    padding: 20px;
}

.featured .separator {
    height: 3px;
    width: 40px;
    background-color: #1480C0;
}

.resources .icon {
    display: block;
    width: 75px;
    margin: 0 auto;
    padding: 20px 0;
}

.section h2 {
    color: #1480C0;
}

ul {
    padding-left: 0px;
}

.footer {
    margin-top: 40px;
    text-align: center;
}

.footer a {
    color: #1480C0;
    text-decoration: none;
}

@media (min-width: 768px) {
    .container {
        padding: 40px;
    }

    .col-3,
    .col-4 {
        display: flex;
    }

    .col-3 .item {
        flex-basis: 33.3333%;
        width: 33.3333%;
    }

    .col-4 .item {
        flex-basis: 25%;
        margin: 10px;
        width: 25%;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 60px;
    }
}