.page-content .link-denim,
.page-content .map-link,
.photos-content a {
  color: #00558c;
}

.designs-block-img img,
.map-img img,
.photo-grid-item img {
  width: 100%;
}

.color-palette {
  display: flex;
  margin: 20px 0 40px 0;
}

.color-palette.secondary-color-palette {
  margin-top: 0;
}

.color-palette-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.primary-color-palette .color-palette-item,
.secondary-color-palette .color-palette-item {
  flex-basis: 33.3333%;
}

.neutral-color-palette .color-palette-item {
  flex-basis: 25%;
}

.tertiary-color-palette .color-palette-item {
  flex-basis: 20%;
}

.primary-color-palette .color-palette-color,
.neutral-color-palette .color-palette-color,
.secondary-color-palette .color-palette-color,
.tertiary-color-palette .color-palette-color {
  height: 150px;
  width: 100%;
}

.color-palette-name {
  font-size: 15px;
  margin: 20px 0;
}

.neutral-color-palette .color-palette-details,
.secondary-color-palette .color-palette-details {
  font-size: 14px;
}

.color-palette-details p {
  font-size: 12px;
  margin-bottom: 5px;
}

.color-palette-color.hca-healthcare-orange {
  background-color: #e05929;
}

.color-palette-color.hca-healthcare-navy {
  background-color: #03173e;
}

.color-palette-color.color-white {
  background-color: #fff;
  border: 1px solid #58595b;
}

.color-palette-color.color-slate {
  background-color: #58595b;
}

.clinical-photo-guidelines ul {
  color: #58595b;
}

.color-palette-color.color-chrome-dark {
  background-color: #898b8e;
}

.color-palette-color.color-chrome-light {
  background-color: #bbbcbc;
}

.color-palette-color.color-chrome-ultralight {
  background-color: #d9d9d6;
}

.color-palette-color.color-denim {
  background-color: #00558c;
}

.color-palette-color.color-cerulean {
  background-color: #0085ca;
}

.color-palette-color.color-tangerine {
  background-color: #ed8b00;
}

.color-palette-color.color-goldenrod {
  background-color: #ffc845;
}

.color-palette-color.color-deep-marine {
  background-color: #285c4d;
}

.color-palette-color.color-dusty-green {
  background-color: #599662;
}

.color-palette-color.color-pale-aqua {
  background-color: #63b1ba;
}

.color-palette-color.color-light-teal {
  background-color: #8fd6bd;
}

.color-palette-color.color-pear {
  background-color: #82d600;
}

.color-palette-color.color-sky-blue {
  background-color: #9bb8d3;
}

.color-palette-color.color-iris {
  background-color: #5a61b6;
}

.color-palette-color.color-punch {
  background-color: #d33753;
}

.color-palette-color.color-lime {
  background-color: #a4d65e;
}

.color-palette-color.color-american-rose {
  background-color: #ce2130;
}

.color-palette-color.color-crimson {
  background-color: #971b2f;
}

.color-palette-color.color-cherry-pie {
  background-color: #df2500;
}

.color-palette-color.color-royal-indigo {
  background-color: #342a8b;
}

.color-palette-color.color-fern {
  background-color: #358100;
}

.color-palette.featured-img,
.map.featured-img {
  margin-bottom: 50px;
  margin-top: 20px;
}

.designs .accordion {
  max-width: 230px;
}

.designs-block ul {
  color: #58595b;
  list-style: initial;
}

.designs-block-text {
  padding-right: 50px;
  flex-basis: 50%;
}

.designs-block .map-img {
  flex-basis: 50%;
}

.designs-block-img {
  flex-basis: 25%;
  padding: 0 15px;
}

.designs-block-img img {
  padding-bottom: 10px;
}

.designs-block-img p {
  font-family: "MarkBold", sans-serif;
}

.designs-block-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.icons-link {
  display: inline-block;
  margin: 20px 0 40px;
}

.map-img:nth-of-type(2) {
  padding-left: 20px;
}

.page-right .mark-fonts-img {
  border-bottom: 2px solid #898b8e;
  margin-bottom: 60px;
}

.page-content .map-link,
.photos-content a {
  display: inline-block;
}

.page-content .map-link {
  margin-bottom: 40px;
}

.photos-content p.strong {
  margin-bottom: 0;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
}

.photo-grid-item {
  flex-basis: 33.3333%;
  text-align: center;
}

.photo-grid-item:nth-child(3n + 1) {
  padding-right: 12px;
}

.photo-grid-item:nth-child(3n + 2) {
  padding: 0 6px;
}

.photo-grid-item:nth-child(3n + 3) {
  padding-left: 12px;
}

.photo-categories {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}

.photo-category {
  background-color: #eeeeee;
  flex-basis: 50%;
  border: 12px solid #fff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-content .photo-category a {
  color: #03173e;
  font-size: 12px;
  text-align: center;
  margin-bottom: 0;
}

.secondary-primary {
  height: 20px;
  width: 100%;
}

.typography-subnav .typography-menu-item,
.colors-subnav .color-menu-item,
.icons-subnav .icons-menu-item,
.graphics-subnav .graphics-menu-item,
.patterns-subnav .patterns-menu-item,
.photos-subnav .photos-menu-item,
.maps-subnav .maps-menu-item,
.digital-designs-subnav .digital-designs-menu-item {
  color: #00558c;
}

.designs .page-content h1 {
  font-size: 32px;
  color: #03173e;
}

.seperator {
  margin: 40px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #d9d9d6;
}

.font-example {
  flex-basis: 33.3333%;
  padding: 0 25px;
}

.font-example-lg {
  color: #e05929 !important;
  font-size: 40px;
}

.font-example-md {
  color: #03173e !important;
  font-size: 20px;
}

img.color-balance {
  width: 100%;
}

.color-contrast-orange,
.icons-assets {
  display: flex;
}

.color-contrast-orange {
  align-items: flex-start;
}

img.color-contrast-single {
  width: 165px;
  margin-right: 30px;
}

.icons .hero {
  flex-direction: column;
  height: 300px;
  display: flex;
  justify-content: center;
  background-image: url("img/icons/icon-hero-01@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #d9d9d9;
  padding-left: 60px;
}

.icons .hero h2 {
  color: #03173e;
  font-size: 30px;
  max-width: 275px;
}

.icons .hero p {
  max-width: 275px;
}

.icons-text {
  padding: 40px 60px;
}

.icons-assets {
  flex-wrap: wrap;
}

.icon-asset {
  flex-basis: 25%;
  text-align: center;
  padding: 10px;
}

.icon-asset img {
  width: 100%;
}

.icon-asset a {
  color: #54575a;
}

.graphic-shapes .col-two,
.photography .col-two,
.patterns .col-two,
.digital-designs .col-two,
.patterns-examples,
.clinical-photo-guidelines {
  display: flex;
  flex-wrap: wrap;
}

.clinical-photo-guidelines {
  margin-top: 40px;
}

.clinical-photo-guideline {
  flex-basis: 50%;
  padding-right: 60px;
}

.clinical-photo-guideline h2 {
  color: #03173e;
}

.clinical-photo-guideline ul {
  padding-left: 20px;
  list-style: disc;
}

.patterns .col-two {
  margin-bottom: 40px;
}

.patterns-examples {
  padding-top: 40px;
}

.graphic-shapes .col-two .graphics-text,
.photography .col-two .photos-text,
.digital-designs .col-two .digital-designs-text {
  flex-basis: 55%;
  padding-right: 40px;
  padding-top: 20px;
}

.graphics-img,
.photos-img,
.digital-designs-img {
  flex-basis: 45%;
}

.pattern-example-item {
  flex-basis: 25%;
  padding-right: 40px;
}

.pattern-example-item p {
  font-size: 14px;
  margin-top: 10px;
}

.patterns .col-two .patterns-text {
  flex-basis: 75%;
  padding-right: 60px;
  padding-top: 20px;
}

.patterns-img {
  flex-basis: 25%;
  padding-right: 40px;
}

.patterns .col-two img,
.pattern-example-item img,
.graphic-shapes .col-two img,
.photography .col-two img,
.digital-designs .col-two img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.graphics-text ul {
  list-style: disc;
  padding-left: 20px;
}

img.graphic-shapes-examples {
  width: 100%;
  padding: 40px;
}

.maps-three-col {
  display: flex;
  flex-wrap: wrap;
}

.maps-three-col .map-type {
  flex-basis: 33.3333%;
  padding: 25px;
}

.map-type img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.digital-designs-img-caption {
  font-size: 14px;
}

.guiding-principles {
  flex-basis: 50%;
  padding-right: 40px;
}

.guiding-principle-title {
  font-family: "MarkBold", sans-serif;
  font-size: 18px;
  color: #03173e !important;
}

.guiding-principles-container {
  padding-right: 80px;
}

@media (min-width: 768px) {
  .designs-block {
    display: flex;
    margin-top: 40px;
  }

  .photo-category {
    flex-basis: 33.3333%;
  }
}

/* 5/7/20 - Remove accent color style once layout is updated */
.accent-color-palette .color-palette-color {
  height: 160px;
  width: 160px;
}
