.architecture-subnav .architecture-menu-item,
.brand-outcomes-subnav .brand-outcomes-menu-item,
.brand-naming-subnav .brand-naming-menu-item,
.cobranding-subnav .cobranding-menu-item,
.external-partnerships-subnav .external-partnerships-menu-item {
  color: #00558c;
}

.brand-outcomes-items,
.outcomes-item-img,
.cobranding-item,
.vertical-lockups {
  display: flex;
}

.architecture-process-img,
.cobranding-item-img img {
  max-width: 100%;
}

.cobranding-item-img img,
.outcomes-item img {
  width: 100%;
}

ul {
  padding-left: 20px;
}

.architecture-process-img {
  padding: 20px;
}

.brand-outcomes-items {
  flex-wrap: wrap;
}

.cobranding .digital-designs-img {
  padding-left: 60px;
}

.cobranding .digital-designs-img img {
  height: 312px !important;
  width: 239px !important;
}

.cobranding-item {
  padding: 30px 0;
}

.cobranding-item-img {
  flex-basis: 25%;
  padding-right: 30px;
}

.cobranding-item-img p,
.external-partnerships .img-caption {
  font-size: 14px;
  padding-top: 10px;
}

.cobranding-item-text {
  flex-basis: 60%;
}

.cobranding-item-title {
  color: #03173e !important;
  font-size: 18px;
}

.external-partnerships .designs-block-text img {
  margin-top: 40px;
  max-width: 330px;
}

.external-partnerships .featured-text {
  background-color: #f7f7f6;
  padding: 20px 80px;
}

.outcomes-item {
  padding: 0 50px 20px 0;
}

.outcomes-item img {
  height: auto;
  max-width: 225px;
}

.outcomes-item-img {
  align-items: center;
  height: 150px;
}

.vertical-lockup img {
  max-width: 230px !important;
}

@media (min-width: 768px) {
  .external-partnerships .designs-block-text {
    width: 50%;
  }

  .outcomes-item {
    flex-basis: 33.3333%;
  }

  .outcomes-item-img {
    margin-bottom: 40px;
  }

  .vertical-lockup {
    flex-basis: 50%;
    padding: 20px;
  }
}
